export NEXT_JS_SUBGRAPH_URI_KOVAN=https://api.thegraph.com/subgraphs/name/pooltogether/v3-kovan
export NEXT_JS_SUBGRAPH_URI_RINKEBY=https://api.thegraph.com/subgraphs/name/pooltogether/rinkeby-v3

export NEXT_JS_DEFAULT_ETHEREUM_NETWORK_NAME=homestead

export NEXT_JS_INFURA_KEY=3f3fdc6d7e3a4d008a1ec4ad287128c6
export NEXT_JS_DOMAIN_NAME=stokvel.io

export NEXT_JS_LOCIZE_DEV_API_KEY=2b6cad4f-55f5-4253-9efb-fe1112570171
export NEXT_JS_LOCIZE_PROJECT_ID=4ba0ed25-3e5a-4ce6-a8c6-8c693eaea223
export NEXT_JS_LOCIZE_VERSION=latest

export NEXT_JS_MAILCHIMP_LIST_ID=<LISTID>
export NEXT_JS_MAILCHIMP_LIST_GENERAL_ID=<GENERAL_LISTID>
export MAILCHIMP_API_KEY=<APIKEY>
export MAILCHIMP_REGION=us20
